<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Phone List</title>
</head>
<body>
<h1>Список телефонов</h1>
<button><a href="/create_phone/">Add</a></button>
<ul>
    {% for phone in phones %}
        <li>
            <h2>{{ phone.title }}</h2>
            <a href="{% url 'phone_detail' phone.id %}">Подробнее</a>
        </li>
    {% endfor %}
</ul>

<h1>Comments:</h1>
{% for comment in comments %}
<p>{{ comment.text}}</p>
{% endfor %}

<h2>Добавить комментарий</h2>
<form action="{% url 'create_comment' %}" method="POST">
    {% csrf_token %}
    {{ comment_form.as_p }}
    <button type="submit">Добавить комментарий</button>
</form>

</body>
</html>
