{% load static %}
{% include 'header.html' %}
<link rel="stylesheet" href="{% static 'css/phone_detail.css' %}">
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ phone_id.title }}</title>
</head>
<body>

<div class="container_phone">
    <div class="phone_detail_div">
    <img class="phone-image" src="{{ phone_id.image.url }}" alt="phone">
    <h1 class="phone-title">{{ phone_id.title }}</h1>
    <p class="phone-price">{{ phone_id.price }}$</p>
    <button class="action-button delete-button"><a href="/phone_list/{{ phone_id.id }}/delete/">Delete</a></button>
    <button class="action-button update-button"><a href="/phone_list/{{ phone_id.id }}/update/">Change</a></button>
    </div>
    <div class="phone_detail_reviews">
    <h2 class="reviews-title">Отзывы</h2>
    <table class="reviews-table">
        <tr>
            <th>Оценка</th>
            <th>Отзыв</th>
            <th>Дата отзыва</th>
        </tr>
        {% for review in phone_id.review_phone.all %}
        <tr class="tr_for_phone">
            <td>{{ review.stars }}</td>
            <td>{{ review.description }}</td>
            <td>{{ review.created_at }}</td>
        </tr>
        {% endfor %}
    </table>
    </div>
</div>

{% include 'footer.html' %}
<script src="{% static 'js/phone_detail.js' %}"></script>
</body>
</html>
