{% load static %}
{% include 'header.html' %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">
<div class="container">
        <form action="{% url 'search' %}" method="GET" class="search-form">
            <input type="text" type="search" name="q" class="form-control" placeholder="Search">
            <button type="submit" class="btn btn-primary">Поиск</button>
        </form>
<center>
        <a href="/book_add/" >
        Add a book
    </a>
    </center>
{% for book in books %}
<center>
    <h1>{{ book.name }}</h1>
<p>{{ book.author }}</p>
 <button><a href="{{ book.id }}">Подробнее</a></button>
</center>
{% endfor %}

{% include 'footer.html' %}
