{% include 'header.html' %}
<center>
    <button><a href="/books/{{ book_id.id}}/update">Edit</a></button>
    <button><a href="/books/{{ book_id.id}}/delete">Delete</a></button>
    <h1>{{ book_id.name }}</h1>
    <p><strong>Автор:</strong> {{ book_id.author }}</p>
    <p><strong>Дата публикации:</strong> {{ book_id.publication_date }}</p>
    <p><strong>Жанр:</strong> {{ book_id.genre }}</p>
    <p><strong>Описание:</strong> {{ book_id.description }}</p>

    <h2>Отзывы</h2>
    <ul>
        {% for review in book.reviews.all %}
            <li>
                <strong>Звезды:</strong> {{ review.stars }}<br>
                <strong>Текст:</strong> {{ review.text }}<br>
                <strong>Дата создания:</strong> {{ review.created_at }}
            </li>
        {% empty %}
            <li>Пока нет отзывов.</li>
        {% endfor %}
    </ul>
</center>

{% include 'footer.html' %}