<!-- Ваш файл template.html -->

{% include 'header.html' %}
{% load static %}

<link rel="stylesheet" href="{% static 'css/clothes.css' %}">
<div class="clothes">
  <a href="/cloth_create/" class="create_button">
    Add a cloth
  </a>
<div class="clothes-container">
  {% for cloth in clothes %}
    <div class="cloth-item">
      <h1>{{ cloth.name }}</h1>
      <p>{{ cloth.price }}</p>
      <button><a href="{% url 'detail_view' cloth.id%}">Подробнее</a></button>
    </div>
  {% endfor %}
</div>
<center class="center_buttons">
  <a href="boys" class="animated-button">
  <svg viewBox="0 0 24 24" class="arr-2" xmlns="http://www.w3.org/2000/svg">
    <path
      d="M16.1716 10.9999L10.8076 5.63589L12.2218 4.22168L20 11.9999L12.2218 19.778L10.8076 18.3638L16.1716 12.9999H4V10.9999H16.1716Z"
    ></path>
  </svg>
  <span class="text">Мужской отдел</span>
  <span class="circle"></span>
  <svg viewBox="0 0 24 24" class="arr-1" xmlns="http://www.w3.org/2000/svg">
    <path
      d="M16.1716 10.9999L10.8076 5.63589L12.2218 4.22168L20 11.9999L12.2218 19.778L10.8076 18.3638L16.1716 12.9999H4V10.9999H16.1716Z"
    ></path>
  </svg>
</a>


  <a href="girls" class="animated-button">
  <svg viewBox="0 0 24 24" class="arr-2" xmlns="http://www.w3.org/2000/svg">
    <path
      d="M16.1716 10.9999L10.8076 5.63589L12.2218 4.22168L20 11.9999L12.2218 19.778L10.8076 18.3638L16.1716 12.9999H4V10.9999H16.1716Z"
    ></path>
  </svg>
  <span class="text">Женский отдел</span>
  <span class="circle"></span>
  <svg viewBox="0 0 24 24" class="arr-1" xmlns="http://www.w3.org/2000/svg">
    <path
      d="M16.1716 10.9999L10.8076 5.63589L12.2218 4.22168L20 11.9999L12.2218 19.778L10.8076 18.3638L16.1716 12.9999H4V10.9999H16.1716Z"
    ></path>
  </svg>
</a>


</center>

  </div>
{% include 'footer.html' %}
