/* Header Styles */
.phone-list-title, .comments-title {
    font-size: 2em;
    color: #333;
    text-align: center;
    margin-bottom: 20px;
}

.add-comment-title {
    font-size: 1.5em;
    color: #555;
}

/* Form Styles */
.search-form {
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-form input[type="search"] {
    width: 20%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-right: 10px;
}

.search-form button {
    padding: 10px 20px;
    border: none;
    background-color: #007bff;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
}

.search-form button:hover {
    background-color: #0056b3;
}

/* Comments Section Styles */
.comments-section {
    margin-top: 20px;
}

.comment-text {
    background-color: #f8f9fa;
    padding: 10px;
    border-radius: 8px;
    margin-bottom: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    opacity: 0;
    transition: opacity 0.5s ease;
}

/* Comment Form Styles */
.comment-form {
    margin-top: 20px;
}

.comment-form textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    resize: vertical; /* Allow vertical resizing */
    min-height: 100px;
    margin-bottom: 15px;
}

.comment-form button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.comment-form button:hover {
    background-color: #0056b3;
}

/* Phone List Styles */
.phone-list {
    display: flex;
    list-style-type: none;
    padding: 0px;
    margin-top:25px;
    column-gap: 50px;
}

.phone-item {
    border-bottom: 1px solid #ccc;
    background-color: white;
    border-radius: 30px;
    width: 300px;
    height: 475px;
    margin-bottom: 20px;
}

.phone-image {
    height: 200px;
    width: 100%;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}

.phone_text {
    padding: 25px;
}

.phone-title {
    font-size: 1.2em;
    color: #333;
    margin-top: 0;
}

.phone-description {
    margin-top: 10px;
}

.phone-price {
    margin: 0;
}

.phone-stock {
    margin: 5px 0;
}

.phone-detail-link {
    color: #007bff;
    text-decoration: none;
    font-weight: bold;
}

.phone-detail-link:hover {
    text-decoration: underline;
}

@media only screen and (max-width: 768px) {
    .search-form input[type="search"] {
        width: 50%;
    }

    .phone-list {
        flex-direction: column;
        align-items: center;
    }

    .phone-item {
        width: 80%;
    }
}
