

.container_phone {
    display: flex;
    column-gap: 100px;
    max-width: 1200px;
    margin: 50px auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.action-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s; /* Плавное изменение при наведении */
}

.action-button a {
    color: #fff;
    text-decoration: none;
}

.action-button:hover {
    background-color: #0056b3;
    transform: scale(1.05); /* Небольшое увеличение при наведении */
}

.action-button:active {
    transform: scale(0.95); /* Небольшое уменьшение при нажатии */
}

.delete-button {
    background-color: #dc3545;
}

.delete-button:hover {
    background-color: #c82333;
}

.update-button {
    background-color: #ffc107;
    color: #212529;
}

.update-button:hover {
    background-color: #e0a800;
}

.phone-title {
    font-size: 2.5em;
    color: #333;
    text-align: center;
}

.phone-price {
    font-size: 1.5em;
    color: #555;
    text-align: center;
}

.phone-image {
    display: block;
    margin: 0 auto;
    height: 500px;
    width: 550px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.reviews-title {
    font-size: 2em;
    color: #555;
    text-align: center;
    margin-top: 40px;
}

.reviews-table th, .reviews-table td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.reviews-table th {
    background-color: #f1f1f1;
    color: #333;
}
